[Unit]
Description=Dependencies for NFSv4 mounts
BindTo=rpc.idmapd.service
BindTo=rpc.statd.service
Wants=sm-notify.service
# rpc.gssd is not obligatory only when not using encryption
#Wants=rpc.gssd.service
After=rpc.idmapd.service rpc.statd.service rpc.gssd.service
Before=remote-fs.target

[Install]
WantedBy=multi-user.target
