[Unit]
Description=NFS rpcsec_gss daemon
Requires=var-lib-nfs-rpc_pipefs.mount
Requires=rpcbind.service
After=syslog.target var-lib-nfs-rpc_pipefs.mount rpcbind.service

[Service]
ExecStart=/usr/sbin/rpc.gssd -f

[Install]
WantedBy=multi-user.target
