[Unit]
Description=RPC program number mapper service
Requires=rpcbind.socket
Wants=rpcbind.target
After=syslog.target network.target
Before=rpcbind.target

[Service]
# use --debug not to fork
ExecStart=/sbin/rpcbind -d

[Install]
WantedBy=multi-user.target
Also=rpcbind.socket
